.normal_button {
    border: none;
    color: #090909;
    padding: 0.7em 1.7em;
    font-size: 18px;
    border-radius: 0.5em;
    background: #e6e7ee;
    border: 1px solid #e6e7ee;
    transition: all .3s;
    box-shadow: 6px 6px 12px #c5c5c5,
                -6px -6px 12px #ffffff;
}

.privilege_div{
  margin-left:8.7%; 
  margin-top:3%;
}

.pass_div{
  margin-left:8.7%; 
  margin-top:3%; 
  margin-bottom: 5%;
}

.cancel_button{
  margin-left:20%; 
  width:100px;
}

.create_button{
  margin-left:45%; 
  width:100px;
}

.normal_button:active {
    color: #666;
    box-shadow: inset 4px 4px 12px #c5c5c5,
                inset -4px -4px 12px #ffffff;
}

.general_container {
    border-radius: 50px;
    background: #e6e7ee;
    margin-top: 50px;
    box-shadow:  35px 35px 70px #9b9b9b,
                 -35px -35px 70px #ffffff;    
}

.dark_shadow {
  box-shadow: inset 2px 2px 5px #b8b9be, inset -3px -3px 7px #FFFFFF;
  /* box-shadow:  2px 2px 5px #b8b9be,  -3px -3px 7px #FFFFFF; */
  /* box-shadow:  -5px -5px 10px #bdbdc3, 5px 5px 10px #ffffff; */
}