.logo {
    height: 65px;
}
#cont0{
    height: 40px;
    width: 100px;
    background-color: black;
}
#cont1{
    height: 450px;
}
.form-control:focus{
    box-shadow: inherit;
}
.enter-btn{
    width: 125px;
    margin-right: 84px;
    margin-top: 50px;
}