::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

.home-container {
  padding-bottom: 100px;
}

.title-container {
  position: relative;
  height: 500px;
  width: 100%;
}

.title-text {
  position: absolute;
  height: 300px;
  width: 35%;
  left: 100px;
  bottom: 120px;
}

.box-title {
  font-size: 1.5rem;
  font-weight: 700;
}

.mission-container {
  padding: 50px 100px 0 100px;
  height: 500px;
}

.about-container {
  position: relative;
  height: 500px;
  width: 100%;
}

.about-text {
  position: absolute;
  height: 300px;
  width: 40%;
  bottom: 120px;
  right: 100px;
}

.faq-container {
  height: 500px;
  width: 100%;
  padding: 50px 100px 0 100px;
}

.faq-text {
  height: 300px;
}

.contact-container {
  position: relative;
  height: 500px;
  width: 100%;
}

.contact-text {
  position: absolute;
  height: 300px;
  width: 35%;
  left: 100px;
  bottom: 120px;
}