.card-height {
  height: 520px;
}

.highlight {
  color: rgb(86, 171, 202)
}

.highlight:hover {
  color: rgb(0, 158, 216);
}

.back-shadow {
  box-shadow: inset 2px 2px 5px #b8b9be, inset -3px -3px 7px #FFFFFF;
}

.discard{
  width: 100px !important;
  margin-right: 50px;
  margin-left: 20px;
  color: #c51f2f !important;
}

.save{
  width: 160px !important;
  color: #0fa046 !important;
}