::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  box-shadow: 2px 2px 5px #b8b9be, -3px -3px 7px #ffffff;
  border-radius: 50px;
  margin: .5em 0em .5em 0em;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(160, 152, 152);
  border-radius: 50px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgb(73, 72, 72);
}

body{
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.main-container{
  display:flex;
  flex-direction: column;
  margin-left: auto;
  width: 1300px;
  align-items: center;
  padding-bottom: 65px;
}

.main-container h2{
  text-align: center;
  font-size: 35px;
  margin: 0 auto;
  padding: 10px 0px 10px 0px;
  font-weight: 500;
}

.infront{
  z-index: 2;
}

.btn-row{
  display: flex;
  flex-direction: row;
  height: 15px;
  width: 1300px;
}

.back-shadow {
  box-shadow: inset 2px 2px 5px #b8b9be, inset -3px -3px 7px #FFFFFF;
}

input[type="text"]::placeholder{
  font-style: italic;
}

.search-con{
  width: 900px;
  padding: 20px 0px 30px 0px;
}

.search-con .search-box{
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  height: 50px;
  width: 500px;
  border-radius: 50px;
}

.search-box .search-field{
  height: 50px;
  border-radius: 50px;
  text-align: center;
}

.search-box .search-btn{
  height: 50px;
  border-radius: 50px;
}

.search-con .search-box button:hover{
  box-shadow: inset 2px 2px 5px #b8b9be, inset -3px -3px 7px #FFFFFF;
}

.search-con .search-box input:hover{
  box-shadow: inset 4px 4px 6px #b8b9be, inset -5px -5px 9px #FFFFFF;
}
.item-con{
  border-radius: 25px;
  margin: 0 auto;
  padding-bottom: 20px;
  margin-right: 20px;
}

.item-con h2{
  text-align: center;
  font-weight:300;
  font-size: 27px;
  margin: auto 0px auto 0px;
  padding: 5px 0px 5px 0px;
}

.item-con .result-details{
  width: 470px;
  margin: 0 auto;
  box-shadow: 2px 2px 5px #b8b9be, -3px -3px 7px #ffffff;
  border-radius: 50px;
  padding: 10px 15px 10px 15px;
  text-align: center;
}

.item-con .result-details label{
  font-size: 16px;
  font-weight: 700;
  text-align: left;
  padding-left: 30px;
}

.item-con .result-details p{
  font-size: 16px;
  font-weight: 400;
  margin: 0 auto;
  text-align: center;
  overflow: auto;
}

.item-con .comment-details{
  width: 500px;
  margin: 0 auto;
  box-shadow: inset 2px 2px 5px #b8b9be, inset -3px -3px 7px #ffffff;
  border-radius: 50px;
  text-align: justify;
  padding: 10px 15px 10px 15px;
}

.comment-details label{
  font-size: 16px;
  font-weight: 700;
}

