* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

.sidebar {
  transition: all 0.5s ease;
  height: 100%;
}

.sidebar ul{
  padding-left: 0;
  margin-left: 20px;
}

.sidebar ul a {
  font-size: 14px;
  color: rgb(68, 68, 68);
  padding-left: 40px;
  display: block;
  line-height: 56px;
  box-sizing: border-box;
  margin-top: 12px;
  transition: 0.4s;
}

.sidebar ul a i {
  margin-right: 16px;
}

/* hover effect */
ul li:hover .sidebar-link {
  transform: scale(1.15);
  color: rgb(0, 158, 216);
}

.sidebar ul li:hover {
  border-radius: 10px;
  box-shadow: -3px -3px 7px #ffffff73,
              2px 2px 5px rgba(128, 135, 148, 0.562);
}